:root { /* the root CLASS, used for defining global variables */
    --normal-bg: #172526;
    --dark-bg: #162021;
    --border: #3c5659;

    --text-normal: #ffffff;
    --text-diminished: #d9d9d9;
    --link-new: #139494;
    --link-visited: #ffffff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    bottom: 0;
    width: 100%;

    background-color: var(--dark-bg);
    border-top: 1px solid var(--border);
    /* border: 1px solid; */
}

.navbar .middle {
    display: flex;
    flex-shrink: 2;
    position: relative;
    align-items: center;
}

.navbar .middle a {
    text-decoration: none;
    color: var(--text-normal);
    padding: 1rem;
    margin: 0.75rem 0.5rem;

    border-radius: 16px;

    background-color: var(--normal-bg);
    box-shadow: inset -3px -3px 5px var(--border), inset 3px 3px 5px var(--border), 0px 0px 10px rgba(0, 0, 0, 0.5);
}